/* fonts inter */
.inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* fonts raleway */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



body{
  max-width: 1440px;
    margin: auto;
}

.upper-part {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  width: 1440px;
  height: 698px;
 
}






/* nav bar */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0;
  
}

.logo{
  font-size: 34px;
  line-height: 150%;
  color: #4E47FF;
  font-weight: 900;
}

.primary-btn{
  background-color: #4E47FF;
  color: white;
  border: solid;
  border: 1px;
}

.sign-btn{
  border-radius: 10px;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
}

.primary-btn:hover{
  cursor: pointer;
  opacity: 0.8;
}

.primary-btn:active{
  opacity: 0.5;
  background-color: white;
  color: rgb(0, 15, 90);
}

/* banner section */

.banner{
  text-align: center;
  /* margin: 158px 250px 0px 250px; */
  margin-bottom: 0;
  height: 237px;
  width: 905px;
  margin: auto;
  margin-top: 158px;
}

.banner-title{
  font-size: 65px;
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
  height: 152px;
  width: 905px;
  margin-bottom: 37px;
  align-items: center;
  text-align: center;
}

.stay-btn{
  border-radius: 10px;
  padding: 12px 36px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  /* margin-bottom: 200px; */
}